/* 
White Warm: #FAF8F5
Yellow: #EFDB5E
Orange: **#F4A261**
Beige: #F6EEE3
Grau: #E0E0E0
font-family: "Cabin", sans-serif;
font-family: "Roboto", serif;
*/

/* ________________________________BASICS__________________________________________ */

/* Global Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Ensure the full height of the viewport for html and body */
html, body {
    height: 100%;  /* Make sure both html and body take up the full height */
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    overflow: hidden;
}



/* __________________________________MAIN________________________________________ */

main {
    height: 100vh;
    width: 100vw;
    background-color: #F6EEE3;
}

/* Navigation */

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.navigation p {
    font-family: "Roboto", serif;
    font-weight: 900;
    text-transform: uppercase;
    margin-left: 60px;   
}

/* Description */


/* Illustration of me */




/* __________________________________________________________________________ */






/* __________________________________________________________________________ */






/* __________________________________________________________________________ */






/* __________________________________________________________________________ */